extends layout

block content

  h1= title
  -
    let results = [
      {
        "Olives_color": "Blue",
        "Olives_quantity": "2lb",
        "Olives_cost": 7
      },
      {
        "Olives_color": "Green",
        "Olives_quantity": "4lb",
        "Olives_cost": 14
      },
      {
        "Olives_color": "Black",
        "Olives_quantity": "6lb",
        "Olives_cost": 21
      },                   
    ]
  div(class= "container-fluid")
    div(class = "row")
      each item,index in results
        div(class= "col-sm-2" , onclick=`buy(${index})`) #{item.Olives_color}
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.Olives_quantity}
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.Olives_cost}

  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }
